<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seniordesign.cosmicraydetector" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="About The Application">
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="Help">
        </activity>

        <activity
            android:name=".GraphActivity"
            android:label="Graphing">
        </activity>


        <activity
            android:name=".androidplot.CountVsTimeActivity"
            android:label="Cosmic Ray Count vs. Time">
        </activity>

        <activity
            android:name=".androidplot.CountVsPressureActivity"
            android:label="Cosmic Ray Count vs. Pressure">
        </activity>

        <activity
            android:name=".dropbox.DropboxActivity"
            android:label="@string/activity_dropbox" >
        </activity>

        <activity
            android:name=".BlankActivity"
            android:label="Blank Activity" >
        </activity>

        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-ogamnznpp7actyg" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
    </application>

</manifest>
